@import "global.css";

.about {
    grid-template-columns: 294px 1fr;
    column-gap: 1rem;
    row-gap: .8rem;
    align-items: start;
    margin-bottom: 3rem;
}

#portrait {
    grid-column-start: 1;
    grid-row-start: 2;
    max-width: 294px;
    max-height: 358px;
    width: auto;
    height: auto;
}

#title-txt {
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 0;
    color: var(--primary-color);
}

#intro-txt {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 1.2rem;
    margin: 0;
    text-align: justify;
    color: var(--primary-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: .8rem;
        justify-items: start;
        margin-bottom: 1rem;
    }

    #portrait {
        grid-column-start: 1;
        grid-row-start: 2;
        
        max-width: 100%;
        max-height: none;
    }

    #title-txt {
        grid-column-start: 1;
        grid-row-start: 1;
        
    }
    
    #intro-txt {
        grid-row-start: 3;
        grid-column-start: 1;
        font-size: 1.2rem;
        margin: 0;
        text-align: justify;
    }
}