:root {
    --primary-color: #0c0d05;
    --secondary-color: #ffffff;
    --background-color: #ffe7d5;
    --link-color: #a24600;

    background-color: var(--background-color);
}

.context {
    align-items: center;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 768px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    z-index: 1;
}

/* @media screen and (max-width: 768px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
        align-self: flex-start;
    }
} */

.footer {
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.footer-icon {
    gap: 1rem;
    color: var(--primary-color);
}

/* img */
#logo-img {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

/* btn */
.nav-btn {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: .5rem;
}

.selected-nav-btn {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    background-color: #ccdbe2;
    padding: .5rem;
}

.icon-btn {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

/* txt */
#copyright {
    font-size: .8rem;
    color: var(--primary-color);
}